.bg_search {
  width: 1200px;
  height: 100px;
  left: 25px;
  top: 20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.50);
}

ul #fromSuggestions,
ul #toSuggestions {
position: absolute;
background: white;
border: 1px solid #ccc;
color: black;
max-width: 185px;
}

/* .form-group {
  width: 200px;
} */

.form-group {
  position: relative;
  margin-bottom: 20px;
  max-width: 200px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
ul.suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 999;
  max-height: 200px;
  overflow-y: auto;
}
ul.suggestions li {
  padding: 10px;
  cursor: pointer;
}
ul.suggestions li:hover {
  background-color: #f0f0f0;
}

#flightSearchForm {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0;
  gap: 5px;
}

.form-group input {
  padding: 10px 10px;

}

#flightSearchForm {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0;
  gap: 5px;
}

.form-group input {
  padding: 10px 10px;

}

.btn {
    width: 130px;
    padding: 10px 10px;
    background-color: #00bbff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.btn:hover {
    opacity: 0.8;
}
